@model IEnumerable<Vidly.Models.Filme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmes</h2>
@if (!Model.Any())
{
    <p>Nenhum filme cadastrado.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Filme</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var filme in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(filme.Nome, "Detalhes", "Filmes", new { id = filme.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}