@model IEnumerable<Vidly.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
@if (!Model.Any())
{
    <p>Nenhum cliente cadastrado.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Tipo de Assinatura</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(cliente.Nome, "Detalhes", "Clientes", new { id = cliente.Id }, null)</td>
                        <td>@cliente.TipoAssinatura.Nome</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}